<!DOCTYPE html>
<html lang="en">

<link href="favicon.ico" rel="icon" type="image/x-icon" />

<head>
    <meta charset="UTF-8">
    <title>vue start</title>
</head>

<body>
    <div id="component">
        {{message}}
    </div>
    <div id="interpolation">
        <a v-bind:href="url">click to github</a><br />
        <!-- The target of bind must be a expression -->
        <a :href="school.url.toUpperCase()">click to {{school.name}}</a>
    </div>
    <div id="oneWay">
        <span :title="message">
            鼠标悬停查看此处动态绑定的提示信息！
        </span>
    </div>
    <div id="component3">
        <p v-if='seen'>you see me.</p>
    </div>
    <div id="component4">
        <ol>
            <li v-for="item in items">
                {{item.text}}
            </li>
        </ol>
    </div>
    <br />
    <div id="twoWay">
        <!-- 完整写法是 v-model:value="message" -->
        <input type="text" v-model="message" />
    </div>
    <div id="component7">
        <ol>
            <!--为每个food-entry提供food对象，food对象是变量，它的内容是动态可变的。
        我们必须为每个组件提供一个key对象-->
            <food-entry v-for="entry in foodList" v-bind:food="entry" v-bind:key="entry.id">
            </food-entry>
        </ol>
    </div>
    <div id='component8'>
        <p>{{content}}</p>
    </div>
</body>
<script src="vue.js"></script>
<script type="text/javascript" src="start.js">
</script>

</html>